<!--
	描述：快件管理
-->
<link rel="stylesheet" type="text/css" href="css/styleexpress.css">
<script  type="text/javascript" src="js/QuerySession.js"></script>
<script src="js/smart-table.js"></script>
<script type="text/javascript">
window.onload = function(){
if(typeof($.session.get('user')) == "undefined"){
	window.location.href="login.html";
}
}
</script>
<div class="express" ng-controller="expressCtrl">
	<div class="container">
		<div class="col-md-2 tab-title ">
			<ul class="nav nav-tab vertical-tab" role="tablist" id="vtab">
				<li role="presentation" class="allmanages active">
					<a href="#aa" aria-controls="aa" role="tab" data-toggle="tab">全部快件</a>
				</li>

				<li role="presentation" class="pieceorder">
					<a href="" aria-controls="bb" role="tab" data-toggle="tab" ng-bind="unclaimed" ng-click="unclaimedBtn()"><span>·</span> 待取件（0）</a>
				</li>
				<li role="presentation" class="pieceorder">
					<a href="" aria-controls="cc" role="tab" data-toggle="tab" ng-bind="transport" ng-click="transportBtn()">· 运送中（0）</a>
				</li>
				<li role="presentation" class="pieceorder">
					<a href="" aria-controls="dd" role="tab" data-toggle="tab" ng-bind="signed" ng-click="signedBtn()">· 已签收（0）</a>
				</li>
				<li role="presentation" class="pieceorder">
					<a href="" aria-controls="ee" role="tab" data-toggle="tab" ng-bind="abnormal" ng-click="abnormalBtn()">· 异常件（0）</a>
				</li>

				<li role="presentation" class="orderrecord">
					<a href="" aria-controls="ff" role="tab" data-toggle="tab" ng-bind="history" ng-click="historyBtn()">下单记录</a>
				</li>
			</ul>
		</div>
		<!-- Tab panes -->
		<div class="col-md-10 tabcontent">
			<div class="tab-content vertical-tab-content">
				<div role="tabpanel" class="tab-pane active" id="aa">
					
					<div class="ordertable">

																	<table st-table="rowCollection"
																		style="text-align: center;"
																		class="table table-striped">
																		<thead>
																			<tr>
																				<th colspan="1">运单号</th>
																				<th colspan="6">寄件人/ 收件人</th>
																				<th colspan="1">托寄物类型</th>
																				<th colspan="1">时间</th>
																				
																		</thead>
																		<tbody>
																			<tr ng-repeat="row in rowCollection">
																				<td colspan="1">{{row.orderNum}}</td>
																				<td colspan="6">{{row.person}}</td>
																				<td colspan="1">{{row.type}}</td>
																				<td colspan="1">{{row.time}}</td>
																			</tr>
																		</tbody>
																	</table>


																</div>

				</div>
				<div role="tabpanel" class="tab-pane" id="bb">待取件</div>
				<div role="tabpanel" class="tab-pane" id="cc">运送中</div>
				<div role="tabpanel" class="tab-pane" id="dd">已签收</div>
				<div role="tabpanel" class="tab-pane" id="ee">异常件</div>
				<div role="tabpanel" class="tab-pane" id="ff">下单记录</div>
			</div>
		</div>
	</div>
</div>