<!--
	描述：用户下单页面
-->
<link href="css/city-picker.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/styleorder.css">
<script type="text/javascript" src="js/QuerySession.js"></script>
<script src="js/smart-table.js"></script>
<script type="text/javascript">
	window.onload = function() {
		if (typeof ($.session.get('user')) == "undefined") {
			window.location.href = "login.html";
		}
	}
</script>
<script type="text/javascript">
	// 百度地图API功能
	function G(id) {
		return document.getElementById(id);
	}

	var ac = new BMap.Autocomplete( //建立一个自动完成的对象
	{
		"input" : "sendAddress"
	} // recAddress   sendAddress
	);

	ac.addEventListener("onhighlight", function(e) { //鼠标放在下拉列表上的事件
		var str = "";
		var _value = e.fromitem.value;
		var value = "";
		if (e.fromitem.index > -1) {
			value = _value.province + _value.city + _value.district
					+ _value.street + _value.business;
		}
		str = "FromItem<br />index = " + e.fromitem.index + "<br />value = "
				+ value;

		value = "";
		if (e.toitem.index > -1) {
			_value = e.toitem.value;
			value = _value.province + _value.city + _value.district
					+ _value.street + _value.business;
		}
		str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = "
				+ value;
		G("searchResultPanel").innerHTML = str; //  searchResultPanel  recResultPanel
	});

	var myValue;
	ac
			.addEventListener(
					"onconfirm",
					function(e) { //鼠标点击下拉列表后的事件
						var _value = e.item.value;
						myValue = _value.province + _value.city
								+ _value.district + _value.street
								+ _value.business;
						G("searchResultPanel").innerHTML = "onconfirm<br />index = "
								+ e.item.index + "<br />myValue = " + myValue; //  searchResultPanel  recResultPanel

						// 选中详细地址后，调用百度地图获取 云地理编码 
						var address = encodeURIComponent(myValue);
						$
								.getJSON(
										"http://api.map.baidu.com/cloudgc/v1?ak=zbLsuDDL4CS2U0M4KezOZZbGUY9iWtVf&address="
												+ address + "&callback=?",
										function(data) {
											if (data.status == 0
													&& data.result.length > 0) {
												$('#sendAreaInfo').citypicker(
														'reset'); // sendAreaInfo recAreaInfo
												$('#sendAreaInfo').citypicker(
														'destroy');

												$('#sendAreaInfo')
														.citypicker(
																{
																	province : data.result[0].address_components.province,
																	city : data.result[0].address_components.city,
																	district : data.result[0].address_components.district
																});
											}
										});
					});

	// 收件地址自动补全实现
	var ac2 = new BMap.Autocomplete( //建立一个自动完成的对象
	{
		"input" : "recAddress" // recAddress   sendAddress
	});

	ac2.addEventListener("onhighlight", function(e) { //鼠标放在下拉列表上的事件
		var str = "";
		var _value = e.fromitem.value;
		var value = "";
		if (e.fromitem.index > -1) {
			value = _value.province + _value.city + _value.district
					+ _value.street + _value.business;
		}
		str = "FromItem<br />index = " + e.fromitem.index + "<br />value = "
				+ value;

		value = "";
		if (e.toitem.index > -1) {
			_value = e.toitem.value;
			value = _value.province + _value.city + _value.district
					+ _value.street + _value.business;
		}
		str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = "
				+ value;
		G("recResultPanel").innerHTML = str; //  searchResultPanel  recResultPanel
	});

	var myValue2;
	ac2
			.addEventListener(
					"onconfirm",
					function(e) { //鼠标点击下拉列表后的事件
						var _value = e.item.value;
						myValue2 = _value.province + _value.city
								+ _value.district + _value.street
								+ _value.business;
						G("recResultPanel").innerHTML = "onconfirm<br />index = "
								+ e.item.index + "<br />myValue2 = " + myValue2; //  searchResultPanel  recResultPanel

						// 选中详细地址后，调用百度地图获取 云地理编码 
						var address = encodeURIComponent(myValue2);
						$
								.getJSON(
										"http://api.map.baidu.com/cloudgc/v1?ak=zbLsuDDL4CS2U0M4KezOZZbGUY9iWtVf&address="
												+ address + "&callback=?",
										function(data) {
											if (data.status == 0
													&& data.result.length > 0) {
												$('#recAreaInfo').citypicker(
														'reset'); // sendAreaInfo recAreaInfo
												$('#recAreaInfo').citypicker(
														'destroy');

												$('#recAreaInfo')
														.citypicker(
																{
																	province : data.result[0].address_components.province,
																	city : data.result[0].address_components.city,
																	district : data.result[0].address_components.district
																});
											}
										});
					});
</script>
<div class="order" id="ng-app">
	<!-- orderall -->
	<section>
		<div class="tab-title ">
			<ul class="nav nav-tabs container" role="tablist">
				<li role="presentation" class="active"><a aria-controls="home"
					role="tab" data-toggle="tab">在线下单</a></li>
			</ul>
		</div>
		<div class="tab-content container">
			<div class="jiangli">
				<div class="col-md-4 xiaojf">
					<h4>安全</h4>
					<p class="grey">安全安全安全安全安全安全安全</p>
				</div>
				<div class="col-md-4 tenjf">
					<h4>高效</h4>
					<p class="grey">高效高效高效高效高效高效高效高</p>
				</div>
				<div class="col-md-4 qianjf">
					<h4>可靠</h4>
					<p class="grey">可靠可靠可靠可靠可靠可靠可靠可靠</p>
				</div>
			</div>
			<div role="tabpanel" class="tab-pane fade in active" id="home">

				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a aria-controls="home"
						role="tab" data-toggle="tab">订单填写</a></li>
				</ul>
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="one">
						<form id="orderForm" class="form-horizontal"
							action="order_add.action" method="post">
							<!--寄件人信息 -->
							<div class="model" ng-app="orderModule" ng-controller="orderCtrl">
								<div class="areatitle">
									<h4>
										<span class="zhezhao">寄件人信息</span>
									</h4>
								</div>
								<div class="col-md-5">
									<div class="orderinfo">
										<div class="form-group " id="sender-group">
											<label class="col-sm-3 control-label"><b>*</b>姓名：</label>

											<div class="col-sm-8 input-group" style="padding: 0 15px;">
												<input name="sendName" type="text" class="form-control"
													placeholder="请输入发件人姓名" required="required">
												<div class="input-group-addon">
													<button type="button" data-toggle="modal"
														data-target="#myModal" id="dao">
														<img src="images/icon/suyun/contact.png">
													</button>
												</div>

												<!----------------------------------- Modal ------------------------------------------->
												<div class="modal fade" id="myModal" tabindex="-1"
													role="dialog" aria-labelledby="myModalLabel"
													aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal">
																	<span aria-hidden="true">&times;</span><span
																		class="sr-only">关闭</span>
																</button>
																<h4 class="modal-title" id="myModalLabel">
																	<strong>从地址薄导入</strong>
																</h4>
															</div>
															<div class="modal-body">
																<!-- Nav tabs -->
																<ul class="nav nav-tabs" role="tablist">
																	<li role="presentation" class="active"><a href=""
																		role="tab" data-toggle="tab">个人地址</a></li>
																	<li role="presentation"><a href="" role="tab"
																		data-toggle="tab">常用地址</a></li>

																</ul>

																<!-- Tab panes -->
																<div class="tab-content">

																	<table st-table="rowCollection"
																		style="text-align: center;"
																		class="table table-striped">
																		<thead>
																			<tr>
																				<th colspan="1">姓名</th>
																				<th colspan="3">公司名</th>
																				<th colspan="1">联系方式</th>
																				<th colspan="3">详细地址</th>
																				<th colspan="1">选择</th>
																			</tr>
																			<tr>
																				<th colspan="1">查询项：</th>
																				<th colspan="3"><select class="form-control"
																					id="predicate" ng-model="selectedPredicate">
																						<option value="name" ng-selected="1">姓名</option>
																						<option value="mobile">联系方式</option>
																						<option value="company">公司名</option>
																						<option value="address">详细地址</option>
																				</select></th>
																				<th colspan="1">关键字:</th>
																				<th colspan="3"><input
																					st-search="{{selectedPredicate}}" placeholder="关键词"
																					class="input-sm form-control" type="search" /></th>
																				<th colspan="1"></th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr ng-repeat="row in rowCollection">
																				<td colspan="1">{{row.name}}</td>
																				<td colspan="3">{{row.company}}</td>
																				<td colspan="1">{{row.mobile}}</td>
																				<td colspan="3">{{row.address}}</td>
																				<td colspan="1">
																					<button type="button" ng-click="useRow(row)"
																						class="close" data-dismiss="modal">
																						<span class="btn btn-sm btn-danger ">使用</span>
																					</button>
																				</td>
																			</tr>
																		</tbody>
																		<tfoot>
																			<tr>
																				<td colspan="5" class="text-center">
																					<div st-pagination=""
																						st-items-by-page="itemsByPage"
																						st-displayed-pages="7"></div>
																				</td>
																			</tr>
																		</tfoot>
																	</table>


																</div>

															</div>
														</div>
													</div>
												</div>
												<!----------------------------------- Modal END------------------------------------------->

											</div>
										</div>

										<div class="form-group" id="mobile-group">
											<label class="col-sm-3 control-label"><b>*</b>联系方式：</label>

											<div class="col-sm-8">
												<input name="sendMobile" type="text" class="form-control"
													placeholder="请输入联系电话" required="required">

											</div>
										</div>
										<div class="form-group" id="sendcompany-group">
											<label class="col-sm-3 control-label">寄件公司：</label>

											<div class="col-sm-8">
												<input name="sendCompany" type="text" class="form-control"
													placeholder="请输入寄件公司">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">省市区：</label>

											<div class="col-sm-8 province">
												<div class="docs-methods">
													<div id="distpicker">
														<div class="form-group">
															<div class="innercity">
																<input id="sendAreaInfo" name="sendAreaInfo"
																	class="form-control" readonly type="text"
																	data-toggle="city-picker" ng-model="sendAreaInfo1">
															</div>
															<button class="btn btn-warning" id="reset" type="button"
																style="float: right; padding: 8px;"
																ng-click="clearVal()">重置</button>
														</div>

													</div>
												</div>

											</div>
										</div>
										<div class="form-group">
											<label for="sendAddress" class="col-sm-3 control-label"><b>*</b>详细地址：</label>

											<div class="col-sm-8">
												<input id="sendAddress" name="sendAddress" type="text"
													class="form-control" placeholder="街道详细（精确到门牌号） "
													required="required" ng-model="sendAddress">
												<div id="searchResultPanel"
													style="border: 1px solid #C0C0C0; width: 150px; height: auto; display: none;"></div>
												<p class="error">请填写正确的信息</p>
											</div>
										</div>

									</div>
								</div>
								<div class="col-md-7"></div>
							</div>
							<!--收件人信息 -->
							<div class="model clearfix" ng-app="orderModule2"
								ng-controller="orderCtrl2">
								<div class="areatitle">
									<h4>
										<span class="zhezhao">收件人信息</span>
									</h4>

								</div>
								<div class="col-md-5">
									<div class="orderinfo">
										<div class="form-group" id="sender-group">
											<label class="col-sm-3 control-label"><b>*</b>姓名：</label>

											<div class="col-sm-8 input-group" style="padding: 0 15px;">
												<input name="recName" type="text" class="form-control"
													style="z-index: 0;" placeholder="请输入收件人姓名"
													required="required">
												<div class="input-group-addon">
													<button type="button" data-toggle="modal"
														data-target="#myModal2" id="dao2">
														<img src="images/icon/suyun/contact.png">
													</button>
												</div>

											<!----------------------------------- Modal ------------------------------------------->
												<div class="modal fade" id="myModal2" tabindex="-1"
													role="dialog" aria-labelledby="myModalLabel"
													aria-hidden="true">
													<div class="modal-dialog">
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal">
																	<span aria-hidden="true">&times;</span><span
																		class="sr-only">关闭</span>
																</button>
																<h4 class="modal-title" id="myModalLabel">
																	<strong>从地址薄导入</strong>
																</h4>
															</div>
															<div class="modal-body">
																<!-- Nav tabs -->
																<ul class="nav nav-tabs" role="tablist">
																	<li role="presentation" class="active"><a href=""
																		role="tab" data-toggle="tab">个人地址</a></li>
																	<li role="presentation"><a href="" role="tab"
																		data-toggle="tab">常用地址</a></li>

																</ul>

																<!-- Tab panes -->
																<div class="tab-content">
																	<table st-table="rowCollection"
																		style="text-align: center;"
																		class="table table-striped">
																		<thead>
																			<tr>
																				<th colspan="1">姓名</th>
																				<th colspan="3">公司名</th>
																				<th colspan="1">联系方式</th>
																				<th colspan="3">详细地址</th>
																				<th colspan="1">选择</th>
																			</tr>
																			<tr>
																				<th colspan="1">查询项：</th>
																				<th colspan="3"><select class="form-control"
																					id="predicate" ng-model="selectedPredicate">
																						<option value="name" ng-selected="1">姓名</option>
																						<option value="mobile">联系方式</option>
																						<option value="company">公司名</option>
																						<option value="address">详细地址</option>
																				</select></th>
																				<th colspan="1">关键字:</th>
																				<th colspan="3"><input
																					st-search="{{selectedPredicate}}" placeholder="关键词"
																					class="input-sm form-control" type="search" /></th>
																				<th colspan="1"></th>
																			</tr>
																		</thead>
																		<tbody>
																			<tr ng-repeat="row in rowCollection">
																				<td colspan="1">{{row.name}}</td>
																				<td colspan="3">{{row.company}}</td>
																				<td colspan="1">{{row.mobile}}</td>
																				<td colspan="3">{{row.address}}</td>
																				<td colspan="1">
																					<button type="button" ng-click="useRow(row)"
																						class="close" data-dismiss="modal">
																						<span class="btn btn-sm btn-danger ">使用</span>
																					</button>
																				</td>
																			</tr>
																		</tbody>
																		<tfoot>
																			<tr>
																				<td colspan="5" class="text-center">
																					<div st-pagination=""
																						st-items-by-page="itemsByPage"
																						st-displayed-pages="7"></div>
																				</td>
																			</tr>
																		</tfoot>
																	</table>


																</div>

															</div>
														</div>
													</div>
												</div>
												<!----------------------------------- Modal END------------------------------------------->
											</div>
										</div>
										<div class="form-group" id="mobile-group">
											<label class="col-sm-3 control-label"><b>*</b>联系方式：</label>

											<div class="col-sm-8">
												<input name="recMobile" type="text" class="form-control"
													placeholder="请输入收件人电话" required="required">

											</div>
										</div>
										<div class="form-group" id="sendcompany-group">
											<label class="col-sm-3 control-label">收件公司：</label>

											<div class="col-sm-8">
												<input name="recCompany" type="text" class="form-control"
													placeholder="请输入收件公司">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">省市区：</label>

											<div class="col-sm-8 province">
												<div class="docs-methods">
													<div id="distpicker">
														<div class="form-group">
															<div class="innercity">
																<input name="recAreaInfo" id="recAreaInfo"
																	class="form-control" readonly type="text"
																	data-toggle="city-picker" ng-model="recAreaInfo1">
															</div>
															<button class="btn btn-warning" id="reset2" type="button"
																style="float: right; padding: 8px;"
																ng-click="clearVal()">重置</button>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="form-group">
											<label for="inputPassword" class="col-sm-3 control-label"><b>*</b>详细地址：</label>

											<div class="col-sm-8">
												<input id="recAddress" name="recAddress" type="text"
													class="form-control" placeholder="街道详细（精确到门牌号） "
													required="required" ng-model="recAddress">
												<div id="recResultPanel"
													style="border: 1px solid #C0C0C0; width: 150px; height: auto; display: none;"></div>
												<p class="error">请填写正确的信息</p>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-7"></div>

							</div>

							<div class="partline"></div>

							<!--快件信息 -->
							<div class="model clearfix">
								<div class="areatitle">
									<h4>
										<span class="zhezhao">快件信息</span>
									</h4>

								</div>
								<div class="col-md-5">
									<div class="orderinfo">
										<div class="form-group" id="sender-group">
											<label class="col-sm-3 control-label"><b>*</b>拖寄物：</label>

											<div class="col-sm-8">
												<select class="form-control" name="goodsType">
													<option>文件</option>
													<option>衣服</option>
													<option>食品</option>
													<option>电子产品</option>
												</select>

											</div>
										</div>
										<div class="form-group" id="mobile-group">
											<label class="col-sm-3 control-label">重量：</label>

											<div class="col-sm-8">
												<input name="weight" type="text" class="form-control"
													placeholder="请输入重量" required="required">

											</div>
										</div>
										<div class="form-group" id="sendcompany-group">
											<label class="col-sm-3 control-label">备注：</label>

											<div class="col-sm-8">
												<input name="remark" type="text" class="form-control"
													placeholder="备注不超过20个字">
											</div>
										</div>
										<div class="form-group">
											<label class="col-sm-3 control-label">快递产品：</label>

											<div class="col-sm-8">
												<select class="form-control" name="sendProNum">
													<option>速运当日</option>
													<option>速运次日</option>
													<option>速运隔日</option>

												</select>

											</div>
										</div>
										<div class="form-group">
											<label for="inputPassword" class="col-sm-3 control-label">付款方式：</label>
											<div class="col-sm-8">
												<select class="form-control" name="payTypeNum">
													<option>寄付日结</option>
													<option>寄付月结</option>
													<option>到付</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-7"></div>
							</div>

							<div class="partline"></div>

							<!--预约-->
							<div class="model clearfix">
								<div class="col-md-5">
									<div class="orderinfo">
										<div class="form-group" id="mobile-group">
											<label class="col-sm-3 control-label">给小哥捎话：</label>

											<div class="col-sm-8">
												<input name="sendMobileMsg" type="text" class="form-control"
													placeholder="有什么要提醒快递员的吗？" required="required">

											</div>
										</div>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>

		</div>


<div class="col-md-11 submit">
	<div class="xieyi">
		<input type="checkbox" checked="checked" />我已阅读并同意《快件运单契约条款》
	</div>
	<div class="tijiao">
		<div class="tjtext">
			<p class="red">1、如果您在周六、日等法定节假日期间寄件，将会做相应加时。（以上“预计时效”已做相应加时）</p>
			<p class="red">2、如果您收方地址属于偏远地区，在“预计时效”基础上需增加0.5天.</p>
		</div>

	</div>

</div>
<div class="col-md-1 ordertj">
	<a href="javascript:;" class="btn btn-danger" onclick="submitBtn()">提交</a>
</div>
<br>
<br>
<br>
</div>
<script src="js/self/city-picker.data.js"></script>
<script src="js/self/city-picker.js"></script>
<script src="js/angular-file-upload.min.js"></script>
<script src="js/console-sham.min.js"></script>
<script src="js/self/controllers.js"></script>
<script src="js/self/main.js"></script>
<script src="js/self/effect.js"></script>
<script>
	function Click() {
		$('a[rel*=downloadr]').downloadr()
	}
	function submitBtn(){
		var user = JSON.parse($.session.get('user'));
		alert(user.cTelephone);
		alert($("#recAddress").val());
		$("#recAddress").val("")
	}
</script>